@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-size: 120%;
}

body {
    background: #140e27;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
}

.header {
    background: #cccccc;
	padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.header > h1 {
	color: rgb(19, 24, 20);
	text-align: center;
	font-size: 300%;
}


.score-board {
    border-style: solid;
    border-width: medium;
    border-radius: 6px;
    padding: 15px;
    margin: 20px auto;
    width: 300px;
    position: relative;
}

.badge {
    font-size: small;
    background: crimson;
    width: fit-content;
    padding: 0px 2px;
    position: absolute;
}

#user-label {
    top: 43%;
    left: -22px;
}

#computer-label {
    top: 43%;
    right: -22px;
}

.score {
    text-align: center;
    font-size: 60px;
}

.result {
    text-align: center;
    font-size: xx-large;
}

.choices {
    margin: 40px 0px;
    text-align: center;
}

.choice {
    padding: 10px;
    margin: 0px 30px;
    border: 4px solid white;
    border-radius: 50%;
    cursor: pointer;
}

#make-your-move {
    font-size: x-large;
    text-align: center;
    padding: 10px ;
}

.user-won {
    border: 4px solid green;
    box-shadow: 0 0 10px green;
}

.user-lose {
    border: 4px solid red;
    box-shadow: 0 0 10px red;
}

.draw {
    border: 4px solid gray;
    box-shadow: 0 0 10px gray;
}